---
import '@mantine/core/styles.css';
import { ColorSchemeScript, MantineProvider } from '@mantine/core';
import { theme } from '../styles/theme';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
    <ColorSchemeScript />

		<title>{title}</title>
	</head>
	<body>
    <MantineProvider theme={theme}>
		  <slot />
    </MantineProvider>
  </body>
</html>

<style is:global>
	:root {}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	
  code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
